<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>646277728351-15ov7mobmvttivu9t5q1lcpcn7koqs34.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.646277728351-15ov7mobmvttivu9t5q1lcpcn7koqs34</string>
	<key>API_KEY</key>
	<string>AIzaSyAbHT-NHTPzYJWd6yuZdKD_uoy1qXTxZp8</string>
	<key>GCM_SENDER_ID</key>
	<string>646277728351</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.codetalks.app</string>
	<key>PROJECT_ID</key>
	<string>test-7b07d</string>
	<key>STORAGE_BUCKET</key>
	<string>test-7b07d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:646277728351:ios:3844c8730fe44ef1e8b3ea</string>
	<key>DATABASE_URL</key>
	<string>https://test-7b07d-default-rtdb.firebaseio.com</string>
</dict>
</plist>